.overlay {
    filter: brightness(50%);
}

/* I just used it sparingly , Couldn't fit the slider in any way on the mobile device ," Please forgive me" */
@media screen and (max-width:576px) {
    .carousel-company {
        height: 70vh;
    }
}

.margin-to-section {
    margin-top: 100px;
}

.icone-color-ratings {
    color: goldenrod;
}